Package: python3-image-geometry
Source: ros-vision-opencv
Version: 1.13.0+ds-5build6
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 30
Depends: python3-numpy, python3:any, python3-genpy, python3-std-msgs, python3-opencv, python3-sensor-msgs
Section: python
Priority: optional
Homepage: https://wiki.ros.org/vision_opencv
Description: image_geometry Robot OS package - Python 3 bindings
 This package is part of Robot OS (ROS). It contains libraries for interpreting
 images geometrically. It interfaces the calibration parameters in
 sensor_msgs/CameraInfo messages with OpenCV functions such as
 image rectification, much as cv_bridge interfaces ROS sensor_msgs/Image with
 OpenCV data types.
 .
 This package contains the Python 3 interface.
Original-Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
