Package: libcv-bridge-dev
Source: ros-vision-opencv
Version: 1.13.0+ds-5build6
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 55
Depends: libcv-bridge1d (= 1.13.0+ds-5build6), librosconsole-dev, libsensor-msgs-dev, libopencv-dev
Section: libdevel
Priority: optional
Homepage: https://wiki.ros.org/vision_opencv
Description: cv_bridge Robot OS package - development
 This package is part of Robot OS (ROS). It contains development files for
 CvBridge, which converts between ROS Image messages and OpenCV images.
 .
 This package contains the development files.
Original-Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
